<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.commnet">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".CommNetApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/Theme.CommNet">


        <activity android:name=".activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.UserLoginActivity" />
        <activity android:name=".activities.ChatActivity" android:theme="@style/Theme.NoCommNet"/>
        <activity android:name=".activities.InboxActivity" android:theme="@style/Theme.NoCommNet"/>
        <activity android:name=".activities.DashboardActivity" android:theme="@style/Theme.NoCommNet"/>
    </application>
</manifest>
